<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>вы зарегистрированы</p>
<h>1)	Пользователь</h>
<a href="accounts/signup/">Создать пользователя</a><br>
<a href="listusers/">Получить всех пользователей</a><br>
<a href="user_selection/">Получить пользователя по идентификатору</a><br>
<a href="update/">Обновить пользователя</a><br>
<a href="destroy/">Удалить пользователя</a> <p>мягкое удаление пользователем и жесткое удаление администратором</p><br>
<a href="accounts/login/">Войти</a><br>
<a href="accounts/logout"> Выход из системы</a><br>
<a href="accounts/ password/change/">Сменить пароль</a><br>
<a href="accounts/ password/reset/">Сбросить пароль</a><br>
<h>2)	Задача</h><br>
<a href="accounts/login/">Создать задачу</a><br>
<a href="accounts/login/">Получить все задачи для пользователя</a><br>
<a href="accounts/login/">Получить все задачи по статусу</a><br>
<a href="accounts/login/">Получить все задачи по категориям</a><br>
<a href="accounts/login/">Получить все задачи по приоритету</a><br>
<a href="accounts/login/">Получить задачу пользователя по идентификатору</a><br>
<a href="accounts/login/">Задача обновления</a><br>
<a href="accounts/login/">Удаление задачи</a> <p>(обратимое удаление пользователем и жесткое удаление администратором )</p><br>
<h>3)	Категория</h><br>
<a href="accounts/login/">Создать категорию</a><br>
<a href="accounts/login/">Получить категорию по идентификатору</a><br>
<a href="accounts/login/">Категория обновления</a><br>
<a href="accounts/login/">Удалить категорию</a><p>обратное удаление пользователем и жесткое удаление администратором )</p><br>
<h>4)	Приоритет</h><br>
<a href="accounts/login/">Создать приоритет</a><br>
<a href="accounts/login/">Получить приоритет по идентификатору </a><br>
<a href="accounts/login/">Приоритет обновления </a><br>
<a href="accounts/login/">Удаление приоритета</a> <p>обратимое удаление пользователем и жесткое удаление администратором</p><br>

</body>
</html>